In [2]:
import pandas as pd
import seaborn as srn
import statistics as sts

In [7]:
dados = pd.read_csv("tempo.csv", sep=";" ) 
dados.head()
dados.shape

(14, 5)

In [8]:
dados.head(15)

   Aparencia  Temperatura  Umidade       Vento Jogar
0        sol           85     85.0       FALSO   nao
1        sol           80     90.0  VERDADEIRO   nao
2    nublado           83     86.0       FALSO   sim
3      chuva           70      NaN       FALSO   sim
4      chuva           68     80.0       FALSO   sim
5      chuva           65     70.0  VERDADEIRO   nao
6      menos           64     65.0  VERDADEIRO   sim
7        sol         1220     95.0       FALSO   nao
8        sol           69     70.0       FALSO   sim
9      chuva           75    200.0         NaN   sim
10       sol           75     70.0  VERDADEIRO   sim
11   nublado           72     90.0  VERDADEIRO   sim
12   nublado           81     75.0       FALSO   sim
13     chuva           71     91.0  VERDADEIRO   nao

In [13]:
agrupados = dados.groupby(["Aparencia"]).size()
agrupados

Aparencia
chuva      5
menos      1
nublado    3
sol        5
dtype: int64

In [14]:
agrupados = dados.groupby(["Vento"]).size()
agrupados

Vento
FALSO         7
VERDADEIRO    6
dtype: int64

In [11]:
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        1
Vento          1
Jogar          0
dtype: int64

In [15]:
agrupados = dados.groupby(["Jogar"]).size()
agrupados

Jogar
nao    5
sim    9
dtype: int64

In [16]:
dados["Temperatura"].describe()

count      14.000000
mean      155.571429
std       306.433759
min        64.000000
25%        69.250000
50%        73.500000
75%        80.750000
max      1220.000000
Name: Temperatura, dtype: float64

In [18]:
dados["Umidade"].describe()

count     13.000000
mean      89.769231
std       34.540203
min       65.000000
25%       70.000000
50%       85.000000
75%       90.000000
max      200.000000
Name: Umidade, dtype: float64

In [19]:
mediana = sts.median(dados['Umidade'])
mediana

85.5

In [22]:
dados.loc[(dados["Umidade"]< 0 ) | (dados["Umidade"] > 100)]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [21]:
dados.loc[(dados["Umidade"]< 0 ) | (dados["Umidade"] > 100),'Umidade'] = mediana

In [25]:
dados.loc[(dados["Temperatura"]< -130 ) | (dados["Temperatura"] > 130) ]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [26]:
dados.loc[(dados["Temperatura"] < -130 ) | (dados["Temperatura"] > 130 )]

  Aparencia  Temperatura  Umidade  Vento Jogar
7       sol         1220     95.0  FALSO   nao

In [27]:
mediana = sts.median(dados["Temperatura"])
mediana

73.5

In [28]:
dados.loc[(dados["Temperatura"] < -130 ) | (dados["Temperatura"] > 130 )] = mediana

In [29]:
dados.loc[(dados["Temperatura"] < -130 ) | (dados["Temperatura"] > 130 )]

Empty DataFrame
Columns: [Aparencia, Temperatura, Umidade, Vento, Jogar]
Index: []

In [30]:
dados["Umidade"].fillna('sol' , inplace=True)

In [31]:
dados["Vento"].fillna('VERDADEIRO' , inplace=True)

In [32]:
dados.isnull().sum()

Aparencia      0
Temperatura    0
Umidade        0
Vento          0
Jogar          0
dtype: int64

In [40]:
dados.loc[(dados["Aparencia"] != 'sol') & (dados["Aparencia"] != 'nublado') & (dados["Aparencia"] != 'chuva'),'Aparencia'] = 'sol'

In [41]:
dados.loc[(dados["Aparencia"] != 'sol') & (dados["Aparencia"] != 'nublado') & (dados["Aparencia"] != 'chuva'),'Aparencia']

Series([], Name: Aparencia, dtype: object)